<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        nav {
            background-color: #333;
            height: 100px;
        }

        ul {
            list-style: none;
            margin: 0;
            display: flex;
            padding-right: 20px;
        }
        ul li{
            padding: 20px 20px 20px 0px;
        }
        a{
            padding: 30px;
            font-size: larger;
        }
    </style>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/signup">Registration</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/login">LogOut</a></li>
        </ul>
    </nav>

</body>

</html>